@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff; /* Background color for the entire certificate */
}

.certificate .border {
  border: 10px double #3498db; /* Double border with a blue color */
  padding: 20px;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px; /* Rounded corners for the border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.certificate h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  color: #3498db; /* Blue color for the heading */
  font-family: 'Arial', sans-serif; /* Font family for the heading */
}

.certificate p {
  text-align: center;
  margin-bottom: 8px;
  color: #555; /* Dark gray color for paragraphs */
}

.certificate .name,
.certificate .course,
.certificate .date {
  font-weight: bold;
  font-family: 'Georgia', serif; /* Font family for the bold text */
}

.certificate .date {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #e74c3c; /* Red color for the date */
}

.certificate .print-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #3498db; /* Blue color for the button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.certificate .print-button:hover {
  background-color: #2980b9; /* Darker blue color on hover */
}